body {
    font-family: Arial, sans-serif;
    margin: 20px;
    align-items: center;
    background-image: url("/static/login_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #dc1f1f;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #117099;

}
#nav {
    background-color:rgba(2, 2, 2, 0.705);
    

}
.card-deck {
    margin-top: 20px;
    display: flex;
    gap: 30px;

}

.card {
    margin-bottom: 20px;
    border: 1px solid #0a0a0a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.card-header {
    background-color: #000000;
    color: #e9e1e1;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
    
    container:inherit;
}

.container {
    justify-content: center;
   
}
#box1 {
    background-color: #d7bef280;
   
}
.btn {
    font-size: 0.875rem;
}

#but1 {
    background-color: #07ff45a9;
    color: #000;
}
#but2 {
    background-color: #dc3545;
    color: #fff;
}

#display{
    background-color: rgba(132, 192, 194, 0.414);
}